section
{
    position: relative;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #ad5389, #3c1053), url(img/wooden-table-with-blurred-restau\ \(9\).jpg);
    background-blend-mode: screen;
}
.wave{
    position: absolute;
    top:0;
    left:0;
    height: 45%;
}

#info>h1{
    color: azure;
}
